# local package
-e .

# external requirements
awscli

# PES: env requirements
jupyterlab
ipykernel
ipython
ipython_genutils
ipywidgets
numpy
pandas
pip
boto3
plotly
python-box
pyyaml
requests
scipy
seaborn
#sqlite removed because error with make
#yaml
scrapy
beautifulsoup4
pandas-profiling